{% extends "base.html" %}
{% block extra_stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/js/vendor/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/static/js/vendor/slick/slick-theme.css"/>
{% endblock %}

{% block content %}

        <!-- Projects -->
        <div class="projects">
            <div class="container">
                <img class="side_header" src="/static/img/recent_projects.png" />
                <ul class="recent_projects">
                    {% for project in projects %}
                    <li>
                        <div class="project_title"> {{project.title}}</div>
                        <div class="project_desc"> {{project.description}}</div>
                        <div class="project_tags">{{project.rendered_tags}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- About me -->
        <div class="about_me">
            <div class="container">
                <img class="side_header" src="/static/img/about_me.png" />

                <ul class="about_me_3_columns">
                    <li>
                        <div class="beard_images"><img src="/static/img/beards/1.png"></div>
                        <ul class="beard_menu">
                            <li><a href="javascript:change_beard(1);"><img src="/static/img/beards/1_thumb.png"></a></li>
                            <li><a href="javascript:change_beard(2);"><img src="/static/img/beards/2_thumb.png"></a></li>
                            <li><a href="javascript:change_beard(3);"><img src="/static/img/beards/3_thumb.png"></a></li>
                            <li><a href="javascript:change_beard(4);"><img src="/static/img/beards/4_thumb.png"></a></li>
                            <li><a href="javascript:change_beard(6);"><img src="/static/img/beards/6_thumb.png"></a></li>
                            <li><a href="javascript:change_beard(7);"><img src="/static/img/beards/7_thumb.png"></a></li>
                        </ul>
                        <div class="beard_req"> *Beards subject to availability, requests may be put in advance. </div>
                    </li>
                    <li>
                        <h1>WHO AM I?</h1>
                        <p>Hello there! My name is Daniel Castro, I am a PhD student under Dr. Irfan Essa at the Georgia Institute of Technology. I completed my undergraduate degree in Computer Science at GT in May 2013. I do research in the area of Computer Vision, and my interests outside of computing lie heavily in traveling the world to understand diverse cultures, fueling my adrenaline with <a href="http://www.youtube.com/watch?v=-zSfTtn3OtA">skydiving</a> and <a href="http://www.youtube.com/watch?v=I8lbhuufMY0">canyon jumping</a>, writing <a href="http://qkdeepinthought.blogspot.com/2008/09/who-am-i.html">poetry </a>, and spending time becoming a better person :).</p>
                        <p> A few of the people I admire include <a href="http://www.youtube.com/watch?v=8QyVZrV3d3o">Jason Silva</a>, <a href="http://www.youtube.com/user/devinsupertramp">Devin Supertramp</a>, and <a href="http://www.youtube.com/user/lindseystomp">Lindsey Stirling.</a></p>
                    </li>
                    <li>
                        <h1>PUBLICATIONS / WORK</h1>
                        <p>Grundmann, M., Kwatra, V., Castro, D., &amp; Essa, I. (2012, April). Calibration-free rolling shutter removal. In Computational Photography (ICCP), 2012 IEEE International Conference on (pp. 1-8). IEEE. <b>Best Paper Award.</b></p>
                        <p> <b>Google</b>, Engineering Practicum Intern (Summer 2011), Software Engineering Intern (Summer 2012). </p>
                        <p> <b>Teaching Assistant</b>, CS 4475 (Computational Photography), CS 4474 (Computational Journalism), Barcelona Study Abroad, Summer 2013. </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact_me">
            <div class="container">
                <div class="contact_me_text">
                    <div class="contact_header"> Contact Me </div>
                    <div class="contact_phone"> 404 916 6421 </div>
                    <div class="contact_email"> dcastro9@gatech.edu </div>
                    <p> Feel free to send me a note about anything. I love meeting new people. </p>
                    <p> It makes us <b>empathic.</b> </p>
                </div>
            </div>
        </div>

{% endblock %}

{% block scripts %}

<script>
function change_beard(val) {
    $(".beard_images > img").attr("src", "/static/img/beards/" + val + ".png");
}

$(document).ready(function(){
  $('.recent_projects').slick({
    infinite: false,
    slidesToShow: 3,
    slidesToScroll: 1,
  });
});

</script>

<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/slick/slick.min.js"></script>

{% endblock %}